.sidebar {
    position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
    width: 300px;
    background-color: #040b14;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color:#a8a9b4 ;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: #381dd4;
    color: white;
  }
  
  .mypic{
    display: block;
    margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }
  .mypic img {
      margin-bottom: 10px;
    border: 6px solid #555;
  }
  .mypic h4{
   color: white;
   font-size:20px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    margin-bottom: 10px;
  }

  div.home {
    margin-left: 300px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: url(img/wallpaper.jpg) top center;
    background-size: cover;
  }
div.content{
    margin-left: 300px;
    padding: 1px 16px;
    height: 1000px;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=email], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

input[type=submit] {
  width: 100%;
  background-color: #040b14;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Company */

.con{
  margin-left: 301px;}

.con .input{
	border: 0;
	outline: none;
	color: #8b7d77;
}

.search_wrap{
	width: 500px;
	margin: 38px auto;
}

.search_wrap .search_box{
	position: relative;
	width: 500px;
	height: 60px;
}

.search_wrap .search_box .input{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10px 20px;
	border-radius: 3px;
	font-size: 18px;
}

.search_wrap .search_box .btn{
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 100%;
	background: #7690da;
	z-index: 1;
	cursor: pointer;
}

.search_wrap .search_box .btn:hover{
	background: #708bd2;	
}

.search_wrap .search_box .btn.btn_common .fas{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #fff;
	font-size: 20px;
}
.search_wrap.search_wrap_3 .search_box .input{
	padding-right: 80px;
}

.search_wrap.search_wrap_3 .search_box .input{
  border-radius: 50px;
	border-style: solid;
	border-width: 5px;
	border-color: cadetblue;
}

.search_wrap.search_wrap_3 .search_box .btn{
	right: 0px;
  top: 10px;
	border-radius: 50%;
}

  /* Table-con */
  .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

/* .styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
} */
.styled-table tbody tr:hover {
  font-weight: bold;
  color: #009879;
}
.bview{
  background-color: #e6ff27;
  border: none;
  border-radius:8px;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  
}
.bupdate{
  background-color: #3fded1;
  border: none;
  border-radius:8px;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.bdelete{
  background-color: #f02020;
  border: none;
  border-radius:8px;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.myButton {
	box-shadow: 0px 10px 14px -7px #9fb4f2;
	background-color:#7892c2;
  border-style: none;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.myButton:hover {
	background-color:#476e9e;
}
.myButton:active {
	position:relative;
	top:1px;
}
/* END Company STYLE */
